<ion-header>
  <ion-navbar>
    <button ion-button
            small
            clear
            *ngIf="isEnteringDestination"
            (click)="isEnteringDestination = false"
    >
      Cancel
    </button>
    <ion-title>A-Shuttle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <div class="journey" ion-fixed [class.search]="isEnteringDestination">
      <!--<ion-item>-->
        <!--<ion-label>From</ion-label>-->
        <!--<ion-input #fromInput-->
                   <!--[(ngModel)]="from"-->
                   <!--type="text"-->
                   <!--placeholder="From"-->
                   <!--(ionFocus)="onClickFrom()"-->
        <!--&gt;</ion-input>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>To</ion-label>-->
        <!--<ion-input #destinationInput-->
                   <!--[(ngModel)]="destination"-->
                   <!--type="text"-->
                   <!--placeholder="Where To?"-->
                   <!--(ionFocus)="onClickDestination()"-->
        <!--&gt;</ion-input>-->
      <!--</ion-item>-->

        <button (click)="onClickDestination()">
            Where to?
        </button>
    </div>

    <div class="map-container" [hidden]="isEnteringDestination">
        <div #map id="map"></div>
        <img *ngIf="isDestinationSet" src="assets/imgs/map-marker.png" class="map-marker">

        <button *ngIf="isDestinationSet" ion-button (click)="proceed()" class="btn-proceed">Proceed</button>
    </div>

</ion-content>
