<ion-header>
  <ion-navbar>
    <button ion-button
            small
            clear
            *ngIf="isDestinationSet"
            (click)="reset()"
    >
      Cancel
    </button>
    <ion-title>
        <img src="assets/imgs/audi-logo.png" height="40">
        <span class="brand-name">Shuttle</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  ion-fixed>

    <div class="journey" ion-fixed [class.search]="isEnteringDestination" [hidden]="isDestinationSet">
      <!--<ion-item>-->
        <!--<ion-label>From</ion-label>-->
        <!--<ion-input #fromInput-->
                   <!--[(ngModel)]="from"-->
                   <!--type="text"-->
                   <!--placeholder="From"-->
                   <!--(ionFocus)="onClickFrom()"-->
        <!--&gt;</ion-input>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>To</ion-label>-->
        <!--<ion-input #destinationInput-->
                   <!--[(ngModel)]="destination"-->
                   <!--type="text"-->
                   <!--placeholder="Where To?"-->
                   <!--(ionFocus)="onClickDestination()"-->
        <!--&gt;</ion-input>-->
      <!--</ion-item>-->

        <button (click)="onClickDestination()">
            Where to?
        </button>
    </div>

    <div class="map-container" [hidden]="isEnteringDestination">
        <div #map id="map" ion-fixed></div>
        <img *ngIf="!isDestinationSet" src="assets/imgs/map-marker.png" class="map-marker">

    </div>

    <div *ngIf="isDestinationSet" ion-fixed class="btn-proceed__container">
        <button ion-button (click)="proceed()" class="btn-proceed btn-proceed__now">Pickup now</button>
        <button ion-button (click)="proceed()" class="btn-proceed btn-proceed__later">Later</button>
    </div>

</ion-content>
