<ion-header>
    <ion-navbar>
        <button ion-button
                small
                clear
                (click)="toggleModal()"
        >
            Cancel
        </button>
        <ion-title>
            <img src="assets/imgs/audi-logo.png" height="40">
            <span class="brand-name">Shuttle</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="from">
        <ion-label>From:</ion-label>
        <ion-input [value]="'Current location'" disabled></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>To:</ion-label>
        <ion-input #destinationInput
                   [(ngModel)]="destination"
                   placeholder="Where To?"
        ></ion-input>
    </ion-item>

    <div>
        <ion-list>
            <ion-item *ngFor="let item of searchResults" (click)="selectItemById(item.place_id)">
                {{ item.description }}
            </ion-item>
        </ion-list>

        <ion-list *ngIf="!searchResults.length">
            <ion-item *ngFor="let item of suggestions" (click)="selectItemById(item.place_id)">
                {{ item.description }}
            </ion-item>
        </ion-list>
    </div>
</ion-content>